// breakpoints
$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

//color system
$black: #000000;
$black2: #0a0c13;
$white: #ffffff;
$light-grey: #f2f2f2;
$primary-color: #00bfa6;
$primary-dark: #008c7a;
$primary-light: #00f2d2;
