@import "../../sass/variable";

.clound {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1rem 1.2rem;
  right: 1%;
  bottom: 1%;
  z-index: 9999;
  background: #008c7a;
  border-radius: 50%;
  cursor: pointer;
}
